<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>home page</title>
</head>
<body>
	<h1>Welcome to my home page </h1>
	<h3><%= "apnacollege".toUpperCase() %></h3>
	<h3><%= ["hello","bonjur","namaste"][2] %></h3>
	<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat accusamus molestiae expedita! Corrupti reprehenderit soluta harum voluptatibus non impedit illo, et voluptate, rerum ullam quia sit. Velit repellendus doloremque ipsum!</p>
	<button>click me !</button>
</body>
</html>